//
   Created by lemyskaman on 22/07/16.

doctype html
html(lang=lang)
    head
        meta(charset='utf-8')
        meta(http-eqsbadmin2_uiv="X-UA-Compatible" content="IE=edge")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="description" content="a KamanApp based solution")
        meta(name="author" content="lemys lopez")
        
       script(type='application/javascript').
            const LANG = document.documentElement.lang;
            console.log(LANG)
    body(role='document')
        //#root

        script(src='../static/kamanapp/bundled_app.js')