//
   Created by lemyskaman on 22/07/16.

doctype html
html(lang=lang)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='/static/your/static/css/file')

        script(type='application/javascript').
            const LANG = document.documentElement.lang;
            console.log(LANG)
    body(role='document')
        #main
        ript(src='your static js file ')
